---
import Base from '../layouts/Base.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Hero from '../components/Hero.astro';
import AgentWeave from '../components/AgentWeave.astro';
import ShowcaseBento from '../components/ShowcaseBento.astro';
import Compare from '../components/Compare.astro';
import SelfHost from '../components/SelfHost.astro';
import Credibility from '../components/Credibility.astro';
import Faq from '../components/Faq.astro';
import FinalCta from '../components/FinalCta.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<Base>
  <SiteHeader />
  <main id="main">
    <Hero />
    <AgentWeave />
    <ShowcaseBento />
    <Compare />
    <SelfHost />
    <Credibility />
    <Faq />
    <FinalCta />
  </main>
  <SiteFooter />
</Base>
